{{page-title "Emberjs Part 1 has tests"}}

{{!-- The following component displays Ember's default welcome message. --}}

{{!-- Feel free to remove this! --}}
<div class="container">
  <NavBar/>
  <div class="body">
    {{outlet}}
  </div>
</div>